# Specify filepatterns you want git to ignore.
obj/
Bin/
bin/
Temp/
Library/
Logs/
temp/
DocFx/
global.json

# Client-Unity
HybridCLRData/
AssetBundles/
UserSettings/
/Demo/Client/Unity/*.sln
/Demo/Client/Unity/*.csproj
/Demo/Client/Unity/*.blob

# Other
.idea
.vs
.vscode
*.DS_Store
