# Specify filepatterns you want git to ignore.
obj/
Bin/
bin/
Temp/
Library/
Logs/
temp/
DocFx/
global.json

# 项目素材
ResLibrary/
# Unity项目文件
examples/**/Unity/*.sln
examples/**/Unity/*.csproj
examples/**/Unity/.vsconfig

# Client-Unity
HybridCLRData/
AssetBundles/
UserSettings/
# 忽略Packages.Unity包下的.meta
Packages.Unity/**/*.meta


# Other
.idea
.vs
.vscode
*.DS_Store
# 不排除示例项目的.vscode
!examples/**/.vscode
!Tools/**/.vscode
examples/**/Unity/.vscode
