<?xml version="1.0" encoding="utf-8" ?>
<fantasy xmlns="http://fantasy.net/config" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://fantasy.net/config Fantasy.xsd">
  
  <!-- ↓这是为了兼容旧版Fantasy的导表Json配置↓, 如果这个XML节点被注释掉, 就会以 Fantasy.config 配置为准 -->
  <!--<configTable path="../../../../Config/Json/Server" />-->

  <!-- ↓这是目前推荐使用的Fantasy框架启服配置↓ -->

  <network inner="TCP" maxMessageSize="1048560" />
  <session idleTimeout="8000" idleInterval="5000" />
  <server>
    <!-- 机器配置 -->
    <machines>
      <machine id="1" outerIP="127.0.0.1" outerBindIP="127.0.0.1" innerBindIP="127.0.0.1" />
    </machines>
    
    <!-- 进程配置 -->
    <processes>
      <process id="1" machineId="1" startupGroup="0" />
    </processes>

    <!-- 世界配置 -->
    <worlds>
      <world id="1" worldName="WorldA">  <!-- 示范↓可在一个世界中配置多个数据库, 如果 dbConnection 设置为空 自动忽略 -->
        <database duty="0" dbType="PgSQL" dbName="master" dbConnection="Host=localhost;Port=5432;Database=master;Username=postgres;Password=147369" />
        <database duty="1" dbType="PgSQL" dbName="replica" dbConnection="" />
        <database duty="2" dbType="MongoDB" dbName="doc" dbConnection="mongodb://localhost:27017/"/>
      </world>
      <world id="2" worldName="WorldB"> 
        <database duty="0" dbType="MongoDB" dbName="doc" dbConnection=""/>
      </world>
    </worlds>

    <!-- 场景配置 -->
    <scenes>
      <scene id="1001" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Addressable" networkProtocol="" outerPort="0" innerPort="11001" sceneType="2" />
      <scene id="1002" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Gate" networkProtocol="KCP" outerPort="20000" innerPort="11002" sceneType="3" />
      <scene id="1003" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Map" networkProtocol="" outerPort="0" innerPort="11003" sceneType="4" />
      <scene id="1004" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Chat" networkProtocol="" outerPort="0" innerPort="11004" sceneType="8" />
      <scene id="2001" processConfigId="1" worldConfigId="2" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Map" networkProtocol="" outerPort="0" innerPort="11005" sceneType="4" />
    </scenes>
    
    <!-- 单位配置 -->
    <units>
      <unit id="1" name="Unit01" model="Unit01">
        <dic>
          <item key="1" value="Idle" />
          <item key="2" value="Run" />
        </dic>
      </unit>
    </units>
  </server>
</fantasy>