<?xml version="1.0" encoding="utf-8" ?>
<fantasy xmlns="http://fantasy.net/config" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://fantasy.net/config Fantasy.xsd">
    <!-- 兼容模式：继续使用JSON配置表 -->
    <configTable path="./../../../Config/Json/Server/" />
    <!-- 框架核心配置 -->
    <idFactory type="World" />
    <network inner="TCP" maxMessageSize="1048560" />
    <session idleTimeout="8000" idleInterval="5000" />
    <!-- 服务器拓扑结构 -->
    <server>
    <machines>
      <machine id="1" outerIP="127.0.0.1" outerBindIP="127.0.0.1" innerBindIP="127.0.0.1" />
    </machines>
    <processes>
      <process id="1" machineId="1" startupGroup="0" />
    </processes>
    <worlds>
      <world id="1" worldName="测试服" dbConnection="" dbName="fantasy_main" dbType="MongoDB" />
    </worlds>
    <scenes>
      <scene id="1001" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Addressable" networkProtocol="" outerPort="0" innerPort="11001" sceneType="2" />
      <scene id="1002" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Gate" networkProtocol="KCP" outerPort="20000" innerPort="11002" sceneType="3" />
      <scene id="1003" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Map" networkProtocol="" outerPort="0" innerPort="11003" sceneType="4" />
      <scene id="1004" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Chat" networkProtocol="" outerPort="0" innerPort="11004" sceneType="8" />
      <scene id="1005" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" 
             sceneTypeString="Map" networkProtocol="" outerPort="0" innerPort="11005" sceneType="4" />
    </scenes>
  </server>
</fantasy>