<?xml version="1.0" encoding="utf-8" ?>
<fantasy xmlns="http://fantasy.net/config" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://fantasy.net/config Fantasy.xsd">
  <!-- ↓这是为了兼容旧版Fantasy的导表Json配置↓, 如果这个XML节点被注释掉, 就会以 Fantasy.config 配置为准 -->
  <!--<configTable path="../../../../Config/Json/Server" />-->
  <!-- ↓这是目前推荐使用的Fantasy框架启服配置↓ -->
  <network inner="TCP" maxMessageSize="1048560" />
  <session idleTimeout="8000" idleInterval="5000" />
  <server>
    <!-- 机器配置 -->
    <machines>
      <machine id="1" outerIP="127.0.0.1" outerBindIP="127.0.0.1" innerBindIP="127.0.0.1" />
    </machines>
    <!-- 进程配置 -->
    <processes>
      <process id="1" machineId="1" startupGroup="0" />
    </processes>
    <!-- 世界配置 -->
    <worlds>
      <world id="1" worldName="WorldA" >
        <database dbType="MongoDB" dbName="fantasy_main" dbConnection=""/>
      </world>
    </worlds>
    <!-- 场景配置 -->
    <scenes>
      <scene id="1001" 
             processConfigId="1" 
             worldConfigId="1" 
             sceneRuntimeMode="MultiThread" 
             sceneTypeString="Gate" 
             networkProtocol="KCP" 
             outerPort="20000" innerPort="11002" />
    </scenes>
  </server>
</fantasy>